#my-locker-background {
  background: url() top left no-repeat #ffffff;
}
#my-locker-background {
  opacity: 1;
}
#my-locker {
  font-family: "Montserrat", sans-serif !important;
}
#my-locker {
  box-shadow: 0px 1px 22px transparent;
}
#my-locker {
  border-radius: 0px;
}
#my-locker {
  max-width: 800px;
}
#my-locker #my-locker-top {
  display: block;
}
#my-locker #my-locker-top {
  background: url() top left no-repeat #fe9800;
}
#my-locker #my-locker-top {
  border-bottom-color: #000000;
}
#my-locker #my-locker-top {
  border-bottom-width: 0px;
}
#my-locker #my-locker-top {
  box-shadow: 0px 2px 5px #000000;
}
#my-locker #my-locker-top {
  padding-top: 14px;
}
#my-locker #my-locker-top {
  padding-bottom: 14px;
}
#my-locker #my-locker-top span {
  text-align: center;
}
#my-locker #my-locker-top span {
  color: #000000;
}
#my-locker #my-locker-top span {
  font-size: 13px;
}
#my-locker #my-locker-top span {
  font-weight: bold;
}
#my-locker #my-locker-body {
  background: url() top left no-repeat #000000;
}
#my-locker #my-locker-body-human-verification button {
  background: url() top left no-repeat #000000;
}
#my-locker #my-locker-body-human-verification button:hover {
  background: url() top left no-repeat #000000;
}
#my-locker #my-locker-body-human-verification button {
  border-radius: 4px;
}
#my-locker #my-locker-body-human-verification button {
  border-color: #000000;
}
#my-locker #my-locker-body-human-verification button:hover {
  border-color: #000000;
}
#my-locker #my-locker-body-human-verification button {
  border-width: 1px;
}
#my-locker #my-locker-body-human-verification button {
  font-size: 14px;
}
#my-locker #my-locker-body-human-verification button {
  font-weight: normal;
}
#my-locker #my-locker-body-human-verification button {
  color: #ffffff;
}
#my-locker #my-locker-body-human-verification button:hover {
  color: #ffffff;
}
#my-locker #my-locker-body-human-verification button {
  padding-top: 8px;
}
#my-locker #my-locker-body-human-verification button {
  padding-bottom: 8px;
}
#my-locker #my-locker-body-human-verification {
  padding-top: 84px;
}
#my-locker #my-locker-body-human-verification {
  padding-bottom: 79px;
}
#my-locker .my-locker-body-text-top {
  text-align: center;
}
#my-locker .my-locker-body-text-top {
  color: #000000;
}
#my-locker .my-locker-body-text-top {
  font-size: 15px;
}
#my-locker .my-locker-body-text-top {
  font-weight: normal;
}
#my-locker .my-locker-body-text-top {
  text-shadow: 1px 1px 2px transparent;
}
#my-locker .my-locker-body-text-top {
  padding-top: 0px;
}
#my-locker .my-locker-body-text-top {
  padding-bottom: 0px;
}
#my-locker .my-locker-body-text-bottom {
  text-align: center;
}
#my-locker .my-locker-body-text-bottom {
  color: #ffffff;
}
#my-locker .my-locker-body-text-bottom {
  font-size: 13px;
}
#my-locker .my-locker-body-text-bottom {
  font-weight: normal;
}
#my-locker .my-locker-body-text-bottom {
  text-shadow: 1px 1px 2px #ffffff;
}
#my-locker .my-locker-body-text-bottom {
  padding-top: 1px;
}
#my-locker .my-locker-body-text-bottom {
  padding-bottom: 0px;
}
#my-locker #my-locker-body-offers #my-locker-body-offers-list a {
  text-align: center;
}
#my-locker #my-locker-body-offers #my-locker-body-offers-list a {
  width: 100%;
}
#my-locker #my-locker-body-offers #my-locker-body-offers-list a {
  background: url() top left no-repeat #000000;
}
#my-locker #my-locker-body-offers #my-locker-body-offers-list a:hover {
  background: url() top left no-repeat #000000;
}
#my-locker #my-locker-body-offers #my-locker-body-offers-list a {
  border-radius: 0px;
}
#my-locker #my-locker-body-offers #my-locker-body-offers-list a {
  border-color: #000000;
}
#my-locker #my-locker-body-offers #my-locker-body-offers-list a {
  border-width: 0px;
}
#my-locker #my-locker-body-offers #my-locker-body-offers-list a {
  text-align: center;
}
#my-locker #my-locker-body-offers #my-locker-body-offers-list a {
  font-size: 13px;
}
#my-locker #my-locker-body-offers #my-locker-body-offers-list a {
  font-weight: bold;
}
#my-locker #my-locker-body-offers #my-locker-body-offers-list a {
  color: #ffffff;
}
#my-locker #my-locker-body-offers #my-locker-body-offers-list a:hover {
  color: #ffffff;
}
#my-locker #my-locker-body-offers #my-locker-body-offers-list a {
  margin-top: 0px;
}
#my-locker #my-locker-body-offers #my-locker-body-offers-list a {
  margin-bottom: 4px;
}
#my-locker #my-locker-body-offers #my-locker-body-offers-list a {
  padding-top: 9px;
}
#my-locker #my-locker-body-offers #my-locker-body-offers-list a {
  padding-bottom: 9px;
}
#my-locker #my-locker-bottom {
  display: none;
}
#my-locker #my-locker-bottom {
  background: url() top left no-repeat #ffffff;
}
#my-locker #my-locker-bottom {
  border-top-color: #ffffff;
}
#my-locker #my-locker-bottom {
  border-top-width: 1px;
}
#my-locker #my-locker-bottom {
  box-shadow: 0px -2px 5px #d1d1d1;
}
#my-locker #my-locker-bottom {
  padding-top: 13px;
}
#my-locker #my-locker-bottom {
  padding-bottom: 11px;
}
#my-locker #my-locker-bottom span {
  text-align: center;
}
#my-locker #my-locker-bottom span {
  color: #5f5f5f;
}
#my-locker #my-locker-bottom span {
  font-size: 10px;
}
#my-locker #my-locker-bottom span {
  font-weight: normal;
}
body.mobile #my-locker #my-locker-top {
  border-bottom-width: 0px;
}
body.mobile #my-locker #my-locker-top {
  padding-top: 12px;
}
body.mobile #my-locker #my-locker-top {
  padding-bottom: 14px;
}
body.mobile #my-locker #my-locker-top span {
  font-size: 12px;
}
body.mobile #my-locker #my-locker-top span {
  font-weight: normal;
}
body.mobile #my-locker #my-locker-body-human-verification button {
  border-radius: 4px;
}
body.mobile #my-locker #my-locker-body-human-verification button {
  border-width: 1px;
}
body.mobile #my-locker #my-locker-body-human-verification button {
  font-size: 11px;
}
body.mobile #my-locker #my-locker-body-human-verification button {
  font-weight: normal;
}
body.mobile #my-locker #my-locker-body-human-verification button {
  padding-top: 8px;
}
body.mobile #my-locker #my-locker-body-human-verification button {
  padding-bottom: 8px;
}
body.mobile #my-locker #my-locker-body-human-verification {
  padding-top: 60px;
}
body.mobile #my-locker #my-locker-body-human-verification {
  padding-bottom: 57px;
}
body.mobile #my-locker .my-locker-body-text-top {
  font-size: 13px;
}
body.mobile #my-locker .my-locker-body-text-top {
  font-weight: bold;
}
body.mobile #my-locker .my-locker-body-text-top {
  padding-top: 0px;
}
body.mobile #my-locker .my-locker-body-text-top {
  padding-bottom: 0px;
}
body.mobile #my-locker .my-locker-body-text-bottom {
  font-size: 10px;
}
body.mobile #my-locker .my-locker-body-text-bottom {
  font-weight: normal;
}
body.mobile #my-locker .my-locker-body-text-bottom {
  padding-top: 0px;
}
body.mobile #my-locker .my-locker-body-text-bottom {
  padding-bottom: 1px;
}
body.mobile #my-locker #my-locker-body-offers #my-locker-body-offers-list a {
  width: 100%;
}
body.mobile #my-locker #my-locker-body-offers #my-locker-body-offers-list a {
  border-width: 0px;
}
body.mobile #my-locker #my-locker-body-offers #my-locker-body-offers-list a {
  font-size: 9px;
}
body.mobile #my-locker #my-locker-body-offers #my-locker-body-offers-list a {
  font-weight: normal;
}
body.mobile #my-locker #my-locker-body-offers #my-locker-body-offers-list a {
  margin-top: 0px;
}
body.mobile #my-locker #my-locker-body-offers #my-locker-body-offers-list a {
  margin-bottom: 4px;
}
body.mobile #my-locker #my-locker-body-offers #my-locker-body-offers-list a {
  padding-top: 14px;
}
body.mobile #my-locker #my-locker-body-offers #my-locker-body-offers-list a {
  padding-bottom: 14px;
}
body.mobile #my-locker #my-locker-bottom {
  border-top-width: 1px;
}
body.mobile #my-locker #my-locker-bottom {
  padding-top: 5px;
}
body.mobile #my-locker #my-locker-bottom {
  padding-bottom: 8px;
}
body.mobile #my-locker #my-locker-bottom span {
  font-size: 9px;
}
body.mobile #my-locker #my-locker-bottom span {
  font-weight: normal;
}
body.mobile #my-locker {
  margin: 2% auto 0 !important;
  width: 95% !important;
}
body.device-phone #my-locker {
  margin: 39px 0 0 380px !important;
  width: 480px !important;
}

/************************
 * DON'T EDIT BELOW HERE
 ************************/

#my-locker {
  border: 0 !important;
  margin: 0 !important;
  max-width: 100% !important;
  width: 100% !important;
  position: relative;
}

#my-locker-body-offers-list a {
  border-bottom: 1px solid #f3f3f3 !important;
  display: block;
  font-size: 0;
  opacity: 1;
}

#my-locker-body-offers-list a > div {
  display: inline-block;
  vertical-align: top;
}

#my-locker-body-offers-list a .mobile-image {
  text-align: center;
  width: 80px;
}

#my-locker-body-offers-list a .mobile-image img {
  border-radius: 50%;
  display: block;
  height: 40px;
  margin: 0 auto 5px;
  width: 40px;
}

#my-locker-body-offers-list a .mobile-image i {
  color: #edf063;
  font-size: 7px;
  margin-right: 2px;
}

#my-locker-body-offers-list a .mobile-image i.gray {
  color: #dadada;
}

#my-locker-body-offers-list a .mobile-description {
  text-align: left;

  width: -webkit-calc(100% - 160px);
  width: -moz-calc(100% - 160px);
  width: calc(100% - 160px);
}

#my-locker-body-offers-list a .mobile-description span {
  font-size: 13px !important;
  font-weight: bold !important;
  margin: 0 !important;
  padding: 0 !important;
}

#my-locker-body-offers-list a .mobile-description font {
  font-size: 12px;
  font-weight: bold;
}

#my-locker-body-offers-list a .mobile-button {
  text-align: center;
  width: 80px;
}

#my-locker-body-offers-list a .mobile-button button {
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  padding: 5px 13px 5px 13px;
  text-transform: uppercase;
}

/* BUT PLEASE DON'T TOUCH THESE */

body.mobile {
  margin: 0 !important;
  padding: 0 !important;
}

body.editing.mobile {
  padding: 0 !important;
}

#my-locker {
  max-width: 400px !important;
  width: 400px !important;
}

body.mobile #my-locker {
  border: 0 !important;
  margin: 0 !important;
  max-width: 100% !important;
  width: 100% !important;
}

body.editing #my-locker {
  margin: 39px 0 0 380px !important;
  max-width: 400px !important;
}

#my-locker #my-locker-top {
  display: none !important;
}

.my-locker-body-text-top {
  display: none !important;
}

#my-locker #my-locker-body {
  padding: 0 !important;
  width: 100%;
}

#my-locker #my-locker-body-offers #my-locker-body-offers-list {
  margin: 0 !important;
  padding: 0 !important;
}

#custom-heading {
}

#custom-heading #custom-heading-image {
  font-size: 0;
}

#custom-heading #custom-heading-image img {
  width: 100%;
}

#custom-heading #custom-heading-text {
  margin-bottom: 6px;
  padding: 0px 6px;
  position: relative;
}

body.mobile #custom-heading #custom-heading-text {
  margin-top: -4px;
}
